# venv
.pyenv

# notebooks
.ipynb_*

# cache
__pycache__

# dask related
dask-worker-space

# misc
espacios-verdes-indexs-cba-2017-2021.*
data_raw/
products-int/images
TMP*
espacios-verdes-indexs-cba-20170101-20220420*
parches-tif